<!-- create a ui card for each compartment -->
<div class='ui basic segment'>
  <div class='ui cards'>
      <app-compartment *ngFor='let comp of _freezer.compartments' [freezer]='_freezer'[compartment]='comp' (deleteCompartment)='removeCompartment($event)'></app-compartment>
  </div>
</div>


  <!-- form to add a new compartment -->
  <form class='ui form' [formGroup]='fg' (ngSubmit)='onSubmitCompartment()'>
    <h4 class="ui dividing header">add compartment</h4>
    <div class='field'>
      <label for='name_id'>name:</label>
      <input type='text' id='name_id' formControlName='name'>
    </div>
    <div *ngIf='fg.get("name").errors?.required && fg.get("name").touched' 
      class='ui pointing red basic label'>
      error! this is required
    </div>

    <button type="submit" class="ui positive right button">
        add compartment
    </button>
  </form>
