<div class="ui card">
  <div class="content">
    <a class="header" href='/freezer/detail/{{freezer.id}}'>{{ freezer.name }}</a>
      <div class="meta">
        <span class="date">added on {{freezer.created | date}}</span>
      </div>
      <!-- list of compartments with trash icons -->
      <ul class="ui list">
        <li *ngFor='let comp of freezer.compartments'>
          <p>{{comp.name}} <span class="badge">{{comp.items.length}}</span></p>
        </li>
      </ul>
      <button class="ui icon button" (click)="removeFreezer()">
        <i class="trash outline icon"></i>
      </button>
  </div>
</div>
