<div class="ui card">
    <div class="content">
      <a class="header" href='/freezer/detail/{{freezer.id}}'>{{ compartment.name }}</a>
        <div class="meta">
          <span class="date">added on {{freezer.created | date}}</span>
        </div>
        <!-- list of items with trash icon -->
        <ul class="ui list">
          <li *ngFor='let item of items'>
            <p>{{item.name}}</p>
          </li>
        </ul>
        <button class="ui icon button" (click)="removeCompartment()">
          <i class="trash outline icon"></i>
        </button>
    </div>
</div>

